* {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0; 
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);  
}

.result{
    min-height: 70%;
    z-index: 1;
    text-align: center;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
    color: white;
    grid-column: 2/3;
}

.summary{
    min-height: 70%;
    /* min-width: 100%; */
    margin: 0rem 0rem 0rem -2rem;
    background-color: white;
    grid-column: 3/4;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 5px 10px 18px hsl(221, 100%, 96%);
    display: grid;
    grid-template-rows: 20% 15% 15% 15% 15% 20%;
    padding: 0 0 0 2rem;
    }

    .sumheader {
        margin: 2rem 0 0 1rem;
        font-size: 1.5rem;
        font-weight: 700;
    }

.score {
    margin: auto;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 8rem;
    padding: 2rem;   
}

.remarks {
    padding: 1rem 3rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.sum_details{
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    text-align: left;
    background-color: hsl(221, 100%, 96%);
    border-radius: 10px;
    margin: .5rem 1rem;
    padding: 1rem;
    align-content: center;
}



h1 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2rem;
}

h2 {
    font-size: 5rem;
    font-weight: 700;
}

h3 {
    font-size: 1rem;
    font-weight: 500; 
    color:hsla(0, 0%, 100%, 50%)
}

h4 {
    font-size: 2.1rem;
    padding: 1.75rem 2rem;
}

img {
    grid-column: 1/2;
}   

.point {
    grid-column: 10/11;
    text-align: right;  
}

.total {
    grid-column: 11/13;
    text-align: right;
    color: hsl(241, 100%, 89%);
}



.reaction {
    grid-column: 2/4;
    text-align: left;
    color: hsl(0, 100%, 67%);
     
    
}

.memory {
    grid-column: 2/4;
    text-align: left;
    color: hsl(39, 100%, 56%);
    
}

.verbal {
    grid-column: 2/4;
    text-align: left;
    color: hsl(166, 100%, 37%);

}

.visual {
    grid-column: 2/4;
    text-align: left;
    color: hsl(234, 85%, 45%);
    
}

.continue {
    display: grid;
    background-color: hsl(224, 30%, 27%);
    /* background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%)); */
    border-radius: 30px;
    color: white;
    margin: 1rem;
    align-content: center;
    font-size: 1.5rem;    
    padding: 2rem 8rem;
}

span:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));  
}

@media screen and (max-width: 375px) {

        main {
            display: grid;
            place-items: center;
            grid-template-columns: 1fr;  
        }
        
        .result{
            z-index: 1;
            margin: -2rem 0rem 1rem 0rem;
            padding-top: 1rem ;
            text-align: center;
            background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
            border-radius: 30px;
            color: white;
            grid-column: 1/2
        }
    
        .summary{
            padding: 0;
            background-color: white;
            grid-row: 2;
            grid-column: 1/2;      
            display: grid;
            grid-template-rows: 20% 15% 15% 15% 15% 20%;
            min-width: 100%;
            margin: 0rem; 
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
            box-shadow: none;
            
            }

        .sumheader {
            margin: 2rem 1rem 1rem 1rem;
            font-size: 1.5rem;
            font-weight: 700;
        }
        .sum_details {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            margin: .75rem;
            padding: .5rem 1rem 1rem 1rem;
            align-content: center;
        }
        
        .remarks {
            padding: 0 2rem 1rem 2rem;
            font-size: 1rem;
        }

        /* .remarks {
            padding: 1rem 3rem;
            font-size: 1.1rem;
            font-weight: 500;
        } */
        
      
        img {
            grid-column: 1/2;
            padding-top: 0.25rem;
            /* text-align: left; */
        }   
        
        .point {
            grid-column: 8/9;
            text-align: left;  
        }
        
        .total {
            grid-column: 9/11;
            text-align: left;
        }
        
        .reaction {
            grid-column: 2/4;
            text-align: left;
            
        }
        
        .memory {
            grid-column: 2/4;
            text-align: left;
        }
        
        .verbal {
            grid-column: 2/4;
            text-align: left;
        }
        
        .visual {
            grid-column: 2/4;
            text-align: left;
        }
        
        .continue {
            
            background-color: hsl(224, 30%, 27%);
            /* background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%)); */
            border-radius: 30px;
            color: white;
            margin: .5rem 1rem 1rem 1rem;
            text-align: center;
            font-size: 1.25rem;    
            padding: 1rem 2rem;
        }
       
        span:hover {
            background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));  
        }
        
}