* {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0; 
    text-align: center;
}


main {
    
    min-height: 100vh;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);  
}

.result{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
    padding: 2rem;
    color: white;
    grid-column: 2/3;
}
   
div, summary {
    padding: 1.5rem;
}

.summary{
    margin-left:-20px;
    z-index: -1;
    background-color: white;
    padding: 1rem;
    grid-column: 3/4;
    border: .5rem;
    border-right-style: outset;
    border-bottom-right-radius: 30px;
    border-bottom-style: outset;
    border-color: hsla(hue, saturation, lightness, alpha);
    }

.score {
    margin: auto;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 6rem;
    padding: 3em;   
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
    
}

h4 {
    font-size: 2rem;
    margin: 1em;
}

p {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem 2rem 2rem;
}