

* {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0; 
    
    
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);  
    
}

.result{
    
    text-align: center;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
    padding: 2rem;
    color: white;
    grid-column: 2/3;
}
   
/* div {
    max-width: 100%;
    margin: auto;
    padding: 1.2rem;
} remmoved since not affecting in general*/

.summary{
    
    margin: 0 0 0 -2rem;
    z-index: -1;
    background-color: white;
    grid-column: 3/4;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 5px 10px 18px hsl(221, 100%, 5%);
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    padding: 0 0 0 2rem;
    }

.score {
    margin: auto;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 6rem;
    padding: 3em;   
}

.sum_details{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    text-align: left;
    background-color: hsl(241, 100%, 89%);
    border-radius: 10px;
    margin: 1rem 1rem 1rem 1rem;
    padding: .5rem 1rem;
    
}

.continue {
    background-color: hsl(224, 30%, 27%);
    border-radius: 30px;
    color: white;
    margin: auto;
    text-align: center;
    font-size: .8rem;    
    padding: .5rem 2rem;
}

.sumheader {
    margin: 1rem 0 0 1rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 1rem;
    font-weight: 500; 
}

h4 {
    font-size: 2rem;
}

img {
    grid-column: 1/2;
    margin: auto;
}

.total {
    grid-column: 7/9;
    text-align: right;
    margin: auto;
}

.point {
    grid-column: 6/7;
    text-align: right;
    margin: auto;
}

.reaction {
    grid-column: 2/4;
    text-align: left;
    color: hsl(0, 100%, 67%);
    margin: auto;
    
    /* margin: .8rem .8rem .8rem 1.2rem; */
}

.memory {
    grid-column: 2/4;
    text-align: left;
    color: hsl(39, 100%, 56%);
    margin: auto;
}

.verbal {
    grid-column: 2/4;
    text-align: left;
    color: hsl(166, 100%, 37%);
    margin: auto;

}

.visual {
    grid-column: 2/4;
    text-align: left;
    color: hsl(234, 85%, 45%);
    margin: auto;
}